#barchart_material {
	width: 95%;
/* 	max-height: 500px;
overflow-y: auto;
overflow-x: hidden; */
}


.barchart-material-outer {
	padding-right: 35px;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}


.barchart-material-inner {

}


.barchart-material-outer::-webkit-scrollbar { 
    display: none; 
}